html{
    background-color: #141414;
    color: #FFFFFF;
    font-size: 1em;
    font-family: "Inconsolata", monospace;
}
h1{
    font-size: 2em; 
    font-weight: bolder;
    text-align: center;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
}

.main{
    display: block;
    margin: auto;
}
.blog{
    font-size: 1em;
    padding: 1em;
    background-color: #1a0035;
    margin: auto;
    margin-top: 1em;
    width: 20em;
    display: block;
    text-align: center;
}
a{
    color: rgb(213, 255, 255);
}
img{
    width: 18em;
    height: auto;
}